In [1]:
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
import re
import pandas as pd
import numpy as np
from src.funcs_code import *
import json

In [2]:
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

In [3]:
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

# Para comenzar con la búsqueda voy a filtrar para encontrar las startups con 'Tech" en su descripción y con más de 1M de captación

In [4]:
tech_desc = re.compile("tech",re.IGNORECASE)
query = {
    "$and":[
        {"description":tech_desc},
        {"founded_year":{"$gte":2008}}
    ]
}

stcomp = db.companies.find(query,{"description":1,"name":1,"offices":1,"total_money_raised":1})

In [5]:
starts= pd.DataFrame(stcomp)
starts

,_id,name,description,total_money_raised,offices
0,52cdef7c4bab8bd675297fec,Fixya,Tech Support Community,$8M,"[{'description': '', 'address1': 'One Franklin..."
1,52cdef7c4bab8bd675298428,ZapNat,Tech News Aggregator,$0,"[{'description': None, 'address1': '', 'addres..."
2,52cdef7c4bab8bd67529845b,LiveRail,video advertising technology,$12M,"[{'description': 'Headquarters', 'address1': '..."
3,52cdef7c4bab8bd675298472,nobosh,Tech and Business News Aggregator,$0,"[{'description': None, 'address1': '6900 E. Ca..."
4,52cdef7d4bab8bd675298c8b,appssavvy,activity advertising technology company,$10.2M,"[{'description': 'Headquarters', 'address1': '..."
5,52cdef7d4bab8bd675298f21,Bilende Technologies,technology integrator,$100k,"[{'description': 'Istanbul Headquarter', 'addr..."
6,52cdef7d4bab8bd6752990e8,Willard John Thomas Associates,Financial Technology Consulting,$0,"[{'description': 'Latin America Office', 'addr..."
7,52cdef7d4bab8bd6752997ed,The Next Web,"Technology, Startups, Conference, News",$0,"[{'description': 'The Next Web HQ', 'address1'..."
8,52cdef7d4bab8bd675299b77,The Next Web,"Technology, Startups, Conference, News",$0,"[{'description': 'The Next Web HQ', 'address1'..."
9,52cdef7d4bab8bd675299eb2,iKlax Media,Multitrack Audio Technology provider,€500k,"[{'description': 'Headquarters', 'address1': '..."
10,52cdef7d4bab8bd67529a0c8,bgC3,Technology Think Tank,$0,"[{'description': 'bgC3', 'address1': '', 'addr..."
11,52cdef7d4bab8bd67529a0d1,Dukky,SaaS marketing technology platform,$1M,"[{'description': '', 'address1': '1200 West Ca..."
12,52cdef7d4bab8bd67529a257,United Maps,Mapping Technology,$0,"[{'description': 'Head Office', 'address1': 'A..."
13,52cdef7e4bab8bd67529a278,TechPluto,Tech News Blog,$0,"[{'description': 'Delhi', 'address1': '', 'add..."
14,52cdef7e4bab8bd67529a5c9,Matter Network,CleanTech Media Company,$0,"[{'description': '', 'address1': 'PO Box 78065..."
15,52cdef7e4bab8bd67529a6c3,Skipso,B2B CleanTech Marketplace,$0,"[{'description': '', 'address1': '31 Theobalds..."
16,52cdef7e4bab8bd67529a72a,NetCitadel,Automated Threat Response Technology,$0,"[{'description': '', 'address1': '2513 E. Char..."
17,52cdef7e4bab8bd67529a7c2,Orbis Biosciences,Biotech Sizing Solutions,$0,"[{'description': 'Orbis', 'address1': '3800 Ca..."
18,52cdef7e4bab8bd67529abab,Digital Meld,Technology Blog,$0,"[{'description': 'Main Office', 'address1': '8..."
19,52cdef7e4bab8bd67529acf9,Pilus Energy,Alternative cleantech energy platform,$0,"[{'description': 'R&D', 'address1': '3130 High..."
20,52cdef7e4bab8bd67529aef5,TechnoFinger,Technology and Entertainment News,$0,[]
21,52cdef7e4bab8bd67529b0cc,BuzzNova Media,Technology Blog,$0,[]
22,52cdef7e4bab8bd67529b1d9,Tech Profuse,Is an Information technology company,$0,"[{'description': 'Tech Profuse, Inc', 'address..."
23,52cdef7e4bab8bd67529b1e5,Freakn' Sweet,Gadget Tech Blog,$0,[]
24,52cdef7e4bab8bd67529b208,GreenITers,Japanese CleanTech News,$0,"[{'description': '', 'address1': '', 'address2..."
25,52cdef7e4bab8bd67529b237,howsimple,Enabling Technology,$300k,"[{'description': '', 'address1': 'PO BOX 85', ..."
26,52cdef7e4bab8bd67529b264,DeGeeked,Simple answers to tech questions.,$0,[]
27,52cdef7e4bab8bd67529b2a0,Open Web Technology,Telecommunications and Technology,$0,"[{'description': 'Geneva Office', 'address1': ..."
28,52cdef7e4bab8bd67529b334,recombitex,IP based biotech company for biofuels,$0,"[{'description': '', 'address1': '', 'address2..."
29,52cdef7e4bab8bd67529b453,ExecutiveBrief,Technology Management Resource,$0,"[{'description': 'US office', 'address1': '', ..."
30,52cdef7e4bab8bd67529b48c,Avenue Right,Advertising technology company,$1.13M,"[{'description': 'Avenue Right, LLC', 'address..."
31,52cdef7e4bab8bd67529b493,Purifi Recruiters,Clean Tech Recruiting,$0,[]
32,52cdef7e4bab8bd67529b52c,fReado,"Free, online book-marketing technology",$0,[]
33,52cdef7e4bab8bd67529b62a,CleanTechies,CleanTech Blog & Career Site,$0,"[{'description': '', 'address1': '', 'address2..."
34,52cdef7e4bab8bd67529b708,HD Cloud,Video technology service provider,$0,"[{'description': 'Diversion Media', 'address1'..."
35,52cdef7e4bab8bd67529b77e,THE SYSTEM ARCHITECT,business technology collaboration firm,$0,"[{'description': '', 'address1': '', 'address2..."
36,52cdef7e4bab8bd67529b776,Samasource,Social Enterprise Internet Technology,$1.21M,"[{'description': 'Headquarters', 'address1': '..."
37,52cdef7e4bab8bd67529b79b,Aptocore,iPhone Game Tech Developers,$0,"[{'description': 'Copenhagen HQ', 'address1': ..."
38,52cdef7e4bab8bd67529b87c,Element Works,Desalination Technology,$35k,[]
39,52cdef7e4bab8bd67529bb7e,theclozing,Real Estate Techmeme,$0,[]
40,52cdef7e4bab8bd67529bb7f,World on a Hanger,Technology for the fashion industry,$0,"[{'description': 'World on a Hanger', 'address..."
41,52cdef7e4bab8bd67529bd37,Red Ambiental,Mexican cleantech company,$20M,"[{'description': '', 'address1': 'Adolfo LÃ³pe..."
42,52cdef7f4bab8bd67529bed7,RxVantage,Healthcare Technology,$2.75M,"[{'description': 'Headquarters', 'address1': '..."
43,52cdef7f4bab8bd67529bf69,VistaGen Therapeutics,Pluripotent stem cell technology,$41.3M,"[{'description': '', 'address1': '384 Oyster P..."
44,52cdef7f4bab8bd67529bfc6,ipadio,Technology and Communications company,$1.6M,"[{'description': '', 'address1': '96 Farringdo..."
45,52cdef7f4bab8bd67529c025,youserbase,Technology wiki,$0,"[{'description': 'Headquarters', 'address1': '..."
46,52cdef7f4bab8bd67529c071,ITTAGS,Semantic web technology tags,$0,"[{'description': '', 'address1': '', 'address2..."
47,52cdef7f4bab8bd67529c176,Actinobac Biomed,pharmaceutical technologies,$600k,"[{'description': 'Actinobac Biomed, Inc.', 'ad..."
48,52cdef7f4bab8bd67529c208,Alnara Pharmaceuticals,Healthcare Biotechnology,$55M,"[{'description': 'Headquarters', 'address1': '..."
49,52cdef7f4bab8bd67529c232,Midwest Data Systems,Total Technology Solution,$0,"[{'description': 'Marinette', 'address1': '150..."
50,52cdef7f4bab8bd67529c23f,Amrita Financial,Life settlement technology and brokerage,$0,"[{'description': 'Headquarters', 'address1': '..."
51,52cdef7f4bab8bd67529c34a,Jowki,Tech Blog,$0,[]
52,52cdef7f4bab8bd67529c3bc,StyleCaster,Media and Ad-Tech for fashion & beauty,$5M,"[{'description': '', 'address1': '49 W 27th St..."
53,52cdef7f4bab8bd67529c4f0,Culture Jam,Innovative Social Media Technology,$1.7M,"[{'description': '', 'address1': '2434 Lincoln..."
54,52cdef7f4bab8bd67529c563,PlentyWays,"Green News, Gadgets and Tech",$0,[]
55,52cdef7f4bab8bd67529c6d9,iGuiders,Online Decision Technology,$1.17M,"[{'description': '', 'address1': '23811 Chagri..."

In [6]:
starts['total_money_raised'] = starts['total_money_raised'].apply(total_funds)
#starts
stsucc = starts[starts.total_money_raised >= 1000000]
startupsoff = starts.explode("offices").apply(lambda e: e.offices,axis=1,result_type="expand")
#startupsoff['city'].value_counts().head(20)
stsucc
#startupsoff

,_id,name,description,total_money_raised,offices
0,52cdef7c4bab8bd675297fec,Fixya,Tech Support Community,8000000,"[{'description': '', 'address1': 'One Franklin..."
2,52cdef7c4bab8bd67529845b,LiveRail,video advertising technology,12000000,"[{'description': 'Headquarters', 'address1': '..."
4,52cdef7d4bab8bd675298c8b,appssavvy,activity advertising technology company,10200000,"[{'description': 'Headquarters', 'address1': '..."
11,52cdef7d4bab8bd67529a0d1,Dukky,SaaS marketing technology platform,1000000,"[{'description': '', 'address1': '1200 West Ca..."
30,52cdef7e4bab8bd67529b48c,Avenue Right,Advertising technology company,1130000,"[{'description': 'Avenue Right, LLC', 'address..."
36,52cdef7e4bab8bd67529b776,Samasource,Social Enterprise Internet Technology,1210000,"[{'description': 'Headquarters', 'address1': '..."
41,52cdef7e4bab8bd67529bd37,Red Ambiental,Mexican cleantech company,20000000,"[{'description': '', 'address1': 'Adolfo LÃ³pe..."
42,52cdef7f4bab8bd67529bed7,RxVantage,Healthcare Technology,2750000,"[{'description': 'Headquarters', 'address1': '..."
43,52cdef7f4bab8bd67529bf69,VistaGen Therapeutics,Pluripotent stem cell technology,41300000,"[{'description': '', 'address1': '384 Oyster P..."
44,52cdef7f4bab8bd67529bfc6,ipadio,Technology and Communications company,1600000,"[{'description': '', 'address1': '96 Farringdo..."
48,52cdef7f4bab8bd67529c208,Alnara Pharmaceuticals,Healthcare Biotechnology,55000000,"[{'description': 'Headquarters', 'address1': '..."
52,52cdef7f4bab8bd67529c3bc,StyleCaster,Media and Ad-Tech for fashion & beauty,5000000,"[{'description': '', 'address1': '49 W 27th St..."
53,52cdef7f4bab8bd67529c4f0,Culture Jam,Innovative Social Media Technology,1700000,"[{'description': '', 'address1': '2434 Lincoln..."
55,52cdef7f4bab8bd67529c6d9,iGuiders,Online Decision Technology,1170000,"[{'description': '', 'address1': '23811 Chagri..."

In [7]:
startupsoff.rename(columns={'description':'sec_description'},inplace=True)

In [8]:
startups_offices = pd.concat([stsucc[["_id","name","description","total_money_raised"]], startupsoff],axis=1)
startups_offices

,_id,name,description,total_money_raised,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,52cdef7c4bab8bd675297fec,Fixya,Tech Support Community,8000000.0,,One Franklin Parkway,"Building 910, Suite 110",94401,San Mateo,CA,USA,37.566879,-122.323895
1,NaN,NaN,NaN,NaN,None,,,,,MA,USA,42.037302,-71.683502
2,52cdef7c4bab8bd67529845b,LiveRail,video advertising technology,12000000.0,Headquarters,575 Market St.,17th Floor,94105,San Francisco,CA,USA,37.787183,-122.397759
3,NaN,NaN,NaN,NaN,None,6900 E. Camelback Road,Suite 850,85251,Scottsdale,AZ,USA,33.503906,-111.933150
4,52cdef7d4bab8bd675298c8b,appssavvy,activity advertising technology company,10200000.0,Headquarters,594 Broadway,Suite 207,10012,New York,NY,USA,40.724604,-73.996876
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52cdef7f4bab8bd67529c3bc,StyleCaster,Media and Ad-Tech for fashion & beauty,5000000.0,,49 W 27th St Uppr A,,10001-6936,New York City,NY,USA,40.745050,-73.990098
53,52cdef7f4bab8bd67529c4f0,Culture Jam,Innovative Social Media Technology,1700000.0,,2434 Lincoln Blvd,Floor 2,90291,Los Angeles,CA,USA,34.013715,-118.466060
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,52cdef7f4bab8bd67529c6d9,iGuiders,Online Decision Technology,1170000.0,,23811 Chagrin,Boulevard Suite 244,44122,Beachwood,OH,USA,NaN,NaN

In [9]:
startups_offices["geopoint"] = startups_offices.apply(transformToGeoPoint, axis=1)
startups_offices

,_id,name,description,total_money_raised,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
0,52cdef7c4bab8bd675297fec,Fixya,Tech Support Community,8000000.0,,One Franklin Parkway,"Building 910, Suite 110",94401,San Mateo,CA,USA,37.566879,-122.323895,"{'type': 'Point', 'coordinates': [-122.323895,..."
1,NaN,NaN,NaN,NaN,None,,,,,MA,USA,42.037302,-71.683502,"{'type': 'Point', 'coordinates': [-71.683502, ..."
2,52cdef7c4bab8bd67529845b,LiveRail,video advertising technology,12000000.0,Headquarters,575 Market St.,17th Floor,94105,San Francisco,CA,USA,37.787183,-122.397759,"{'type': 'Point', 'coordinates': [-122.397759,..."
3,NaN,NaN,NaN,NaN,None,6900 E. Camelback Road,Suite 850,85251,Scottsdale,AZ,USA,33.503906,-111.933150,"{'type': 'Point', 'coordinates': [-111.93315, ..."
4,52cdef7d4bab8bd675298c8b,appssavvy,activity advertising technology company,10200000.0,Headquarters,594 Broadway,Suite 207,10012,New York,NY,USA,40.724604,-73.996876,"{'type': 'Point', 'coordinates': [-73.996876, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52cdef7f4bab8bd67529c3bc,StyleCaster,Media and Ad-Tech for fashion & beauty,5000000.0,,49 W 27th St Uppr A,,10001-6936,New York City,NY,USA,40.745050,-73.990098,"{'type': 'Point', 'coordinates': [-73.9900984,..."
53,52cdef7f4bab8bd67529c4f0,Culture Jam,Innovative Social Media Technology,1700000.0,,2434 Lincoln Blvd,Floor 2,90291,Los Angeles,CA,USA,34.013715,-118.466060,"{'type': 'Point', 'coordinates': [-118.4660597..."
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,52cdef7f4bab8bd67529c6d9,iGuiders,Online Decision Technology,1170000.0,,23811 Chagrin,Boulevard Suite 244,44122,Beachwood,OH,USA,NaN,NaN,NaN

In [10]:
#Esto es para la limpieza de las filas que no voy a necesitar 
geostart = startups_offices[startups_offices['_id'].notna()]
#geostart
geostartups = geostart[geostart['geopoint'].notna()]
geostartups

,_id,name,description,total_money_raised,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
0,52cdef7c4bab8bd675297fec,Fixya,Tech Support Community,8000000.0,,One Franklin Parkway,"Building 910, Suite 110",94401,San Mateo,CA,USA,37.566879,-122.323895,"{'type': 'Point', 'coordinates': [-122.323895,..."
2,52cdef7c4bab8bd67529845b,LiveRail,video advertising technology,12000000.0,Headquarters,575 Market St.,17th Floor,94105,San Francisco,CA,USA,37.787183,-122.397759,"{'type': 'Point', 'coordinates': [-122.397759,..."
4,52cdef7d4bab8bd675298c8b,appssavvy,activity advertising technology company,10200000.0,Headquarters,594 Broadway,Suite 207,10012,New York,NY,USA,40.724604,-73.996876,"{'type': 'Point', 'coordinates': [-73.996876, ..."
11,52cdef7d4bab8bd67529a0d1,Dukky,SaaS marketing technology platform,1000000.0,,1200 West Causeway Approach,Suite 24,70471,Mandeville,LA,USA,29.973994,-90.082202,"{'type': 'Point', 'coordinates': [-90.082202, ..."
30,52cdef7e4bab8bd67529b48c,Avenue Right,Advertising technology company,1130000.0,"Avenue Right, LLC",1854 NDSU Research Circle N,,58102,Fargo,ND,USA,46.903760,-96.809880,"{'type': 'Point', 'coordinates': [-96.8098798,..."
36,52cdef7e4bab8bd67529b776,Samasource,Social Enterprise Internet Technology,1210000.0,Headquarters,2017 Mission Street,Suite 301,94110,San Francisco,CA,USA,37.778991,-122.401803,"{'type': 'Point', 'coordinates': [-122.401803,..."
42,52cdef7f4bab8bd67529bed7,RxVantage,Healthcare Technology,2750000.0,Headquarters,8603 Washington Blvd.,,90232,Culver City,CA,USA,34.030479,-118.381433,"{'type': 'Point', 'coordinates': [-118.3814329..."
43,52cdef7f4bab8bd67529bf69,VistaGen Therapeutics,Pluripotent stem cell technology,41300000.0,,"384 Oyster Point Blvd., Suite #8",,94080,South San Francisco,CA,USA,37.665648,-122.384349,"{'type': 'Point', 'coordinates': [-122.3843489..."
44,52cdef7f4bab8bd67529bfc6,ipadio,Technology and Communications company,1600000.0,,96 Farringdon Road,,EC1R 3EA,London,None,GBR,51.820582,0.011861,"{'type': 'Point', 'coordinates': [0.0118608, 5..."
48,52cdef7f4bab8bd67529c208,Alnara Pharmaceuticals,Healthcare Biotechnology,55000000.0,Headquarters,840 Memorial Drive,,02139,Cambridge,MA,USA,42.362425,-71.116031,"{'type': 'Point', 'coordinates': [-71.116031, ..."
52,52cdef7f4bab8bd67529c3bc,StyleCaster,Media and Ad-Tech for fashion & beauty,5000000.0,,49 W 27th St Uppr A,,10001-6936,New York City,NY,USA,40.745050,-73.990098,"{'type': 'Point', 'coordinates': [-73.9900984,..."
53,52cdef7f4bab8bd67529c4f0,Culture Jam,Innovative Social Media Technology,1700000.0,,2434 Lincoln Blvd,Floor 2,90291,Los Angeles,CA,USA,34.013715,-118.466060,"{'type': 'Point', 'coordinates': [-118.4660597..."

In [11]:
geostartups['city'].value_counts().head(20)

San Francisco          2
Culver City            1
London                 1
New York               1
Los Angeles            1
South San Francisco    1
Mandeville             1
Cambridge              1
San Mateo              1
Fargo                  1
New York City          1
Name: city, dtype: int64

In [12]:
ny_startups_offices = geostartups[geostartups.state_code == "NY"]

In [13]:
ny_startups_offices

,_id,name,description,total_money_raised,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
4,52cdef7d4bab8bd675298c8b,appssavvy,activity advertising technology company,10200000.0,Headquarters,594 Broadway,Suite 207,10012,New York,NY,USA,40.724604,-73.996876,"{'type': 'Point', 'coordinates': [-73.996876, ..."
52,52cdef7f4bab8bd67529c3bc,StyleCaster,Media and Ad-Tech for fashion & beauty,5000000.0,,49 W 27th St Uppr A,,10001-6936,New York City,NY,USA,40.745050,-73.990098,"{'type': 'Point', 'coordinates': [-73.9900984,..."

In [14]:
ny_startups_offices["_id"] = ny_startups_offices["_id"].apply(lambda e: str(e))

<ipython-input-14-699557068483>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny_startups_offices["_id"] = ny_startups_offices["_id"].apply(lambda e: str(e))

In [15]:
ny_startups_offices.to_json("Output/ny_startups_offices.json",orient="records")

In [ ]:
ny_startups_offices.to_csv("../Output/ny_startups_data.csv")

# También voy a filtrar para encontrar las empresas que se dediquen a design

In [16]:
designcomp = re.compile("design",re.IGNORECASE)
query = {
    "description": designcomp
}
designcomp = db.companies.find(query,{"description":1,"name":1,"offices":1})

In [17]:
designoff = pd.DataFrame(designcomp)
designoff
design_offs = designoff.explode("offices").apply(lambda e: e.offices,axis=1,result_type="expand")
design_offs

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,New York Office,2 Park Ave Fl 4,,10016-5602,New York,NY,USA,40.747270,-73.980064
1,None,1200 W. Lake St,,60607,Chicago,IL,USA,41.885830,-87.657354
2,United States (HQ),447 Battery St.,3rd Floor,94111,San Francisco,CA,USA,37.795531,-122.400598
2,Australia,204 Wellington St.,,3065,Collingwood,None,AUS,-37.802659,144.986855
2,Europe,Schlesische Str. 29-30,,,Berlin,None,DEU,52.498620,13.446903
...,...,...,...,...,...,...,...,...,...
214,HQ,6130 Blue Circle Drive,Suite 300,55343,Minnetonka,MN,USA,NaN,NaN
215,OfficeOnTheInternet.com,,,92008,Carlsbad,CA,USA,33.141212,-117.320512
215,OfficeOnTheInternet.com,,,90230,Los Angeles,CA,USA,33.993326,-118.398784
215,OfficeOnTheInternet.com,,,92008,San Diego,CA,USA,33.141212,-117.320512
216,Main Office,8015 Creedmoor Rd. Ste. 101,,27613,Raleigh,NC,USA,35.896906,-78.680678

In [18]:
design_offs.rename(columns={'description':'sec_description'},inplace=True)

In [19]:
design_offices = pd.concat([designoff[["_id","name","description"]], design_offs],axis=1)
design_offices

,_id,name,description,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,52cdef7c4bab8bd67529815f,Gilt Groupe,Designer Sample Sales Online,New York Office,2 Park Ave Fl 4,,10016-5602,New York,NY,USA,40.747270,-73.980064
1,52cdef7c4bab8bd675298445,crowdSPRING,crowdsourced design,None,1200 W. Lake St,,60607,Chicago,IL,USA,41.885830,-87.657354
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,United States (HQ),447 Battery St.,3rd Floor,94111,San Francisco,CA,USA,37.795531,-122.400598
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,Australia,204 Wellington St.,,3065,Collingwood,None,AUS,-37.802659,144.986855
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,Europe,Schlesische Str. 29-30,,,Berlin,None,DEU,52.498620,13.446903
...,...,...,...,...,...,...,...,...,...,...,...,...
214,52cdef7f4bab8bd67529c57d,Fox River Audio Visual,audio/visual design and integration,HQ,6130 Blue Circle Drive,Suite 300,55343,Minnetonka,MN,USA,NaN,NaN
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,92008,Carlsbad,CA,USA,33.141212,-117.320512
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,90230,Los Angeles,CA,USA,33.993326,-118.398784
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,92008,San Diego,CA,USA,33.141212,-117.320512
216,52cdef7f4bab8bd67529c6d2,Atlantic BT,"Web Development, Web Design",Main Office,8015 Creedmoor Rd. Ste. 101,,27613,Raleigh,NC,USA,35.896906,-78.680678

In [20]:
design_offices["geopoint"] = design_offices.apply(transformToGeoPoint, axis=1)

In [21]:
design_offices

,_id,name,description,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
0,52cdef7c4bab8bd67529815f,Gilt Groupe,Designer Sample Sales Online,New York Office,2 Park Ave Fl 4,,10016-5602,New York,NY,USA,40.747270,-73.980064,"{'type': 'Point', 'coordinates': [-73.9800645,..."
1,52cdef7c4bab8bd675298445,crowdSPRING,crowdsourced design,None,1200 W. Lake St,,60607,Chicago,IL,USA,41.885830,-87.657354,"{'type': 'Point', 'coordinates': [-87.657354, ..."
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,United States (HQ),447 Battery St.,3rd Floor,94111,San Francisco,CA,USA,37.795531,-122.400598,"{'type': 'Point', 'coordinates': [-122.4005983..."
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,Australia,204 Wellington St.,,3065,Collingwood,None,AUS,-37.802659,144.986855,"{'type': 'Point', 'coordinates': [144.9868546,..."
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,Europe,Schlesische Str. 29-30,,,Berlin,None,DEU,52.498620,13.446903,"{'type': 'Point', 'coordinates': [13.4469031, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,52cdef7f4bab8bd67529c57d,Fox River Audio Visual,audio/visual design and integration,HQ,6130 Blue Circle Drive,Suite 300,55343,Minnetonka,MN,USA,NaN,NaN,NaN
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,92008,Carlsbad,CA,USA,33.141212,-117.320512,"{'type': 'Point', 'coordinates': [-117.3205123..."
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,90230,Los Angeles,CA,USA,33.993326,-118.398784,"{'type': 'Point', 'coordinates': [-118.3987842..."
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,92008,San Diego,CA,USA,33.141212,-117.320512,"{'type': 'Point', 'coordinates': [-117.3205123..."
216,52cdef7f4bab8bd67529c6d2,Atlantic BT,"Web Development, Web Design",Main Office,8015 Creedmoor Rd. Ste. 101,,27613,Raleigh,NC,USA,35.896906,-78.680678,"{'type': 'Point', 'coordinates': [-78.6806784,..."

In [22]:
geodesigns = design_offices[design_offices['geopoint'].notna()]
geodesigns

,_id,name,description,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
0,52cdef7c4bab8bd67529815f,Gilt Groupe,Designer Sample Sales Online,New York Office,2 Park Ave Fl 4,,10016-5602,New York,NY,USA,40.747270,-73.980064,"{'type': 'Point', 'coordinates': [-73.9800645,..."
1,52cdef7c4bab8bd675298445,crowdSPRING,crowdsourced design,None,1200 W. Lake St,,60607,Chicago,IL,USA,41.885830,-87.657354,"{'type': 'Point', 'coordinates': [-87.657354, ..."
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,United States (HQ),447 Battery St.,3rd Floor,94111,San Francisco,CA,USA,37.795531,-122.400598,"{'type': 'Point', 'coordinates': [-122.4005983..."
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,Australia,204 Wellington St.,,3065,Collingwood,None,AUS,-37.802659,144.986855,"{'type': 'Point', 'coordinates': [144.9868546,..."
2,52cdef7c4bab8bd675298447,99designs,Online graphic design marketplace,Europe,Schlesische Str. 29-30,,,Berlin,None,DEU,52.498620,13.446903,"{'type': 'Point', 'coordinates': [13.4469031, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,52cdef7f4bab8bd67529c53f,Design Chemical,Web Design Bangkok,Main Office,582/64 Soi Yu Charoen 7,Ratchadapisek 3 Road,10310,Bangkok,None,THA,13.764605,100.564220,"{'type': 'Point', 'coordinates': [100.5642201,..."
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,92008,Carlsbad,CA,USA,33.141212,-117.320512,"{'type': 'Point', 'coordinates': [-117.3205123..."
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,90230,Los Angeles,CA,USA,33.993326,-118.398784,"{'type': 'Point', 'coordinates': [-118.3987842..."
215,52cdef7f4bab8bd67529c646,Top Rated Website Designers,"Website Design, Shopsite",OfficeOnTheInternet.com,,,92008,San Diego,CA,USA,33.141212,-117.320512,"{'type': 'Point', 'coordinates': [-117.3205123..."
216,52cdef7f4bab8bd67529c6d2,Atlantic BT,"Web Development, Web Design",Main Office,8015 Creedmoor Rd. Ste. 101,,27613,Raleigh,NC,USA,35.896906,-78.680678,"{'type': 'Point', 'coordinates': [-78.6806784,..."

In [23]:
geodesigns['city'].value_counts().head(20)

San Francisco    4
New York         4
San Diego        4
Chicago          3
Miami            3
San Jose         3
Park City        2
Helsinki         2
London           2
Melbourne        2
Cambridge        2
Boulder          2
Amsterdam        2
Santa Monica     1
Ajax Ontario     1
Herndon          1
New York City    1
Thane West       1
New Haven        1
Oxford           1
Name: city, dtype: int64

In [27]:
ny_design_offices = geodesigns[geodesigns.city == "New York"]
ny_design_offices

,_id,name,description,sec_description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
0,52cdef7c4bab8bd67529815f,Gilt Groupe,Designer Sample Sales Online,New York Office,2 Park Ave Fl 4,,10016-5602,New York,NY,USA,40.747270,-73.980064,"{'type': 'Point', 'coordinates': [-73.9800645,..."
5,52cdef7c4bab8bd6752987a5,PixelCrayons,Web Design and Development Company,,228 Park Ave S # 25950,,10003,New York,NY,USA,28.682042,77.087502,"{'type': 'Point', 'coordinates': [77.087502, 2..."
76,52cdef7e4bab8bd67529b07e,MindSmack,"Web design, mobile apps",MindSmack HQ,311 West 43rd Street,Penthouse,10036,New York,NY,USA,40.758492,-73.989987,"{'type': 'Point', 'coordinates': [-73.989987, ..."
177,52cdef7f4bab8bd67529be52,Covet Shop,Online Designer Consignment Boutique,New York,21 East 7th Street,,10003,New York,NY,USA,40.728740,-73.989324,"{'type': 'Point', 'coordinates': [-73.989324, ..."

In [25]:
ny_design_offices_clean = ny_design_offices[['_id', 'name', 'description', 'address1', 'address2', 'latitude', 'longitude', 'geopoint']]
ny_design_offices_clean["_id"] = ny_design_offices_clean["_id"].apply(lambda e: str(e))

<ipython-input-25-d037060234fc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny_design_offices_clean["_id"] = ny_design_offices_clean["_id"].apply(lambda e: str(e))

In [26]:
ny_design_offices_clean.to_json("Output/ny_design_offices.json",orient="records")

In [ ]:
ny_design_offices.to_csv("../Output/ny_design_data.csv")